@font-face {
    font-family: 'Luthier';
    src: url('/assets/LuthierFF/Luthier-Regular.ttf');
}

@font-face {
    font-family: 'Luthier';
    src: url('/assets/LuthierFF/Luthier-Italic.ttf');
    font-style: italic;
}

@font-face {
    font-family: 'Luthier';
    src: url('/assets/LuthierFF/Luthier-Bold.ttf');
    font-weight: bold;
}

@font-face {
    font-family: 'Luthier';
    src: url('/assets/LuthierFF/Luthier-BoldItalic.ttf');
    font-weight: bold;
    font-style: italic;
}
