---
---
@import "normalize";
@import "variables";
@import "fonts";

body {
    font-family: $font;
}

.layout {
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
}

.nav {
    background-color: $color;
}

.hero {
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url('/assets/ocean.jpg');
    background-size: cover;
    background-position: center;
}

.hero-banner {
    box-sizing: border-box;
    position: relative;
    width: 100%;
    padding: $gutter;

    background-color: $color;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.hero-divider {
    width: 25%;
    padding: 0;
    margin-bottom: 24px;
    text-align: center;
}

.hero-title {
    text-transform: uppercase;
    text-align: center;
    font-weight: 400;
    margin: 0;
    letter-spacing: 4px;
}

.hero-subtitle {
    text-align: center;
    font-weight: 400;
    margin: 0;
}

@media (min-width: 1100px) {
    .hero-banner {
        background-image: url('/assets/sunburst.svg');
        background-size: 960px;
        background-position: center;
        background-repeat: no-repeat;
        width: 1000px;
        height: 1000px;
        border-radius: 100%;
        padding: 100px;
    }

    .hero-title {
        text-transform: uppercase;
        letter-spacing: 20px;
        line-height: 1.4;
        text-align: center;
        font-weight: 400;
        font-size: 48pt;
        margin: 0;
    }
}
