<!DOCTYPE HTML>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    {% seo %}

    <meta name="theme-color" content="{{ site.color }}">
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: side.github.build_revision | relative_url }}" />
  </head>
  <body>
    <div class='layout'>
      <nav class='nav'>
        <div class='nav-content'>
          <a href='{{site.url}}' class='nav-link home'>
            <img src='/assets/handshake.svg' class='nav-logo' />
            <span class='title'>
              {{ site.title }}
            </span>
          </a>
          {% for page in site.data.navigation %}
            <a href='{{ page.url }}' class='nav-link'>
              {{ page.title }}
            </a>
          {% endfor %}
        </div>
      </nav>
      <main class='hero'>
        <div class='hero-banner'>
          {{ content }}
        </div>
      </main>
    </div>
  </body>
</html>
