<!DOCTYPE HTML>
<html lang="en">
  <head>
    <title>{% seo %}</title>
    <meta name="theme-color" content="{{ color }}">
    <link rel="rel" href="{{ '/assets/css/style.css?v=' | append: side.github.build_revision | relative_url }}" />
  </head>
  <body>
    <nav class='nav'>
      {% for page in side.data.navigation %}
        <a href='{{ page.url }}' class='nav-link'>
          {{ page.title }}
        </a>
      {% endfor %}
    </nav>
    <main class='main'>
      {{ content }}
    </main>
  </body>
</html>
